.todoForm {
    position: relative;
    padding: 10px 0;
    width: 100%;
    height: 40px;
  }
  .todoForm .form-group {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .todoForm .form-group input:not([type="submit"]) {
    flex: 90%;
    padding: 10px 15px;
    border: 1px solid #017bf5;
    border-right: 0;
    outline: none;
  }
  .todoForm .form-group input[type="submit"] {
    flex: 10%;
    padding: 10px 15px;
    cursor: pointer;
    appearance: none !important;
    -webkit-appearance: none !important;
    border: 1px solid #000000;
    border-left: 0;
    background-color: #ff0000;
    color: #fff;
  }