button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #1abc9c;
  }
  .off {
    color: #ccc;
  }
  
  body {
    padding: 100px;
  }